<ion-tabs>
  <ion-tab-bar slot="bottom" placement="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="gastos" href="/tabs/gastos">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="deudas" href="/tabs/deudas">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Deudas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="deudores" href="/tabs/deudores">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Me deben</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="movimientos" href="/tabs/movimientos">
      <ion-icon name="swap-horizontal-outline"></ion-icon>
      <ion-label>Movs</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>